{% extends 'sensor_logging/base.html' %}

{% block extrahead %}

    {% load crispy_forms_tags %}
    {% load staticfiles %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.1/css/ion.rangeSlider.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.1/css/ion.rangeSlider.skinFlat.min.css" rel="stylesheet">

{% endblock extrahead %}

{% block extrabody %}
    <div class="container-fluid">
        <h2>Real-time filter</h2>
        <div class="well">
            <div class="row">
                <div class="col-xs-6">
                    <h3 style="text-align: center">Select sensors to display</h3>
                </div>
                <div class="col-xs-6">
                    <h3 style="text-align: center">Select time frame</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div class="col-xs-12 col-sm-6">
                        <input id="1" type="checkbox" class="mySwitch" name="switch"
                                data-label-text="fridge" data-on-color="success" data-off-color="warning">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input id="2" type="checkbox" class="mySwitch" name="switch"
                                data-label-text="street" data-on-color="success" data-off-color="warning">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <input type="text" id="range" name="time_frame">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div id="div_1" hidden="hidden"></div>
                <div id = "chart1" class="chart-div"
                     style = "height: 400px; width: 100%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div id="div_2" hidden="hidden"></div>
                <div id = "chart2" class="chart-div"
                     style = "height: 400px; width: 100%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div id="div_3" hidden="hidden"></div>
                <div id = "chart3" class="chart-div"
                     style = "height: 400px; width: 100%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div id="div_4" hidden="hidden"></div>
                <div id = "chart4" class="chart-div"
                     style = "height: 400px; width: 100%;">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.1/js/ion.rangeSlider.min.js"></script>
    <script src="{% static "js/plot.js" %}"></script>
    <script src="{% static "js/realtime_page.js" %}"></script>
{% endblock %}
