
html {
  /*background: url(https://practicalanalytics.files.wordpress.com/2014/11/36950622_thumbnail.jpg) no-repeat center center fixed;*/
  background: url('../img/iot_grey_laptop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}